.home-title{
  margin-left: 20px;
}
.home-search{
  margin-top: 30px;
}
.home-search .button{
  margin-left: 20px;
}
.home-table{
  margin-top: 40px;
}

.home-content{
  padding:20px;
}

.vote-btn-show{
  float: left
}
.vote-btn-hide{
  display: none;
}
.home-option-w button{
  float: left;
}