.home-title{
  margin-left: 20px;
}
.home-search{
  margin-top: 30px;
}
.home-search .button{
  margin-left: 20px;
}
.home-table{
  margin-top: 40px;
}

.home-content{
  padding:20px;
}
.home-content button span{
  font-size: 12px!important
}

.vote-btn-show{
  float: left
}
.vote-btn-hide{
  display: none;
}
.home-option-w{
}
.home-option-w button{
  float: left;
  margin-right:10px!important;
  min-width: 0!important;
}
.home-option-w button span{
  padding-left: 4px!important;
  padding-right: 4px!important;
  font-size: 12px!important
}