.login-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../../themes/images/chinasoft.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -150px;
}

.login-box .button{
  margin-top: 10px;
}
.QR-code{
   padding:20px 0;
}
.QR-code .img {
  float: left;
  width: 140px;
}
.QR-code .img img{
  width: 100%;
  height: 140px;
}
.QR-code .img h3{
  text-align: center;
  line-height: 0;
}

.QR-code .fr {
  float: right;
}